body{
font-family:Arial;
background:#0f172a;
color:white;
padding:40px;
}

h1{
text-align:center;
margin-bottom:30px;
}

.filters{
text-align:center;
margin-bottom:20px;
}

.players{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
}

.price{
font-size:20px;
color:#22c55e;
font-weight:bold;
}

button{
background:#ef4444;
border:none;
padding:10px;
color:white;
border-radius:6px;
cursor:pointer;
width:100%;
}

button:hover{
background:#dc2626;
}